version: "3"
services:
    web:
        build: ./nginx
        ports:
          - "443:443"
        links:
          - php
        volumes:
          - ./magento:/var/www/magento:cached
    php:
        build: ./php
        expose:
          - 9000
        volumes:
          - ./magento:/var/www/magento:cached
          - ./php/conf.d/error_reporting.ini:/usr/local/etc/php/conf.d/error_reporting.ini
        depends_on:
          - db
        environment:
          - PHP_IDE_CONFIG=serverName=magento.local
    db:
        image: mariadb:10.4
        ports:
          - "3306:3306"
        expose:
          - 3306
        env_file: .env
        volumes:
          - ./db:/docker-entrypoint-initdb.d
          - dbdata:/var/lib/mysql
        healthcheck:
            test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost", "-p$MYSQL_ROOT_PASSWORD"]
            timeout: 20s
            retries: 10
    mailhog:
        image: mailhog/mailhog:latest
        links:
          - php
        ports:
          - "1025:1025"
          - "8025:8025"
    redis:
        image: redis:latest
    rabbitmq:
        image: rabbitmq:3.8-management-alpine
        ports:
          - "15672:15672"
          - "5672:5672"
        volumes:
          - rabbitmqdata:/var/lib/rabbitmq
    elasticsearch:
      build: ./es
      ports:
        - "9200:9200"
        - "9300:9300"
      environment:
        "discovery.type": "single-node"
volumes:
    magento:
    rabbitmqdata:
    dbdata: